.backgroundIMG{
    width: 100%;
    height: auto;
}

.ContentRight{
    display: flex;
    justify-content: right;
}


main{
    background-color: #161622;
}

.VulcanStocksH1{
    font-size: 100px;
    margin: 100px;
}

